@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #18181b;
	color: #f4f4f5;
	scroll-behavior: smooth;
}

@layer utilities {
	.map-box {
		align-items: center;
		border-color: white;
		border-width: 4px;
		display: flex;
		height: 3rem;
		justify-content: center;
		width: 3rem;
	}

	.empty-box {
		height: 3rem;
		width: 3rem;
	}
}
